* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(230, 230, 230);
}

h1 {
    margin-bottom: 10px;
}

.container {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
}

.initial-deposit,
.period,
.percent,
.calculate {
    height: 30px;
    width: 350px;
    margin: 0px 0px 10px 0px;
}

.form-input input {
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0px 0px 0px 10px;
    font-size: 20px;

    &::placeholder {
        color: rgba(0, 0, 0, 0.711);
    }
}

.form-input button {
    height: 100%;
    padding: 0px 10px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: none;
    transition: 0.3s;

    &:hover {
        background-color: rgb(229, 229, 229);
    }

    &:active {
        background-color: aliceblue;
    }
}

.result {
    height: 50px;
    width: 100%;
    background-color: rgb(221, 221, 221);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 0px 10px 1px 10px;
    width: 350px;
    overflow: auto;
}