*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: black;
    padding: 20px;
}

.display {
    height: 25px;
    background-color: white;
    width: 280px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn button {
    cursor: pointer;
    padding: 2px 10px;
    margin-top: 15px;
    border: none;
    border-radius: 3px 5px 3px 5px;
    background-color: white;
    font-size: 20px;

    &:hover {
        background-color: rgb(233, 233, 233);
    }

    &:active {
        background-color: rgb(246, 246, 246);
    }
}